:root {
  --white: #eeeeee;
  --grey: #686d76;
  --black: #373a40;
  --orange: #dc5f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--orange);
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem;
}

button,
.btn {
  background-color: var(--black);
  color: var(--orange);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
}

button:hover,
.btn:hover {
  background-color: var(--orange);
  color: var(--black);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 2px solid var(--black);
}

tr:nth-child(even) {
  background-color: var(--grey);
}

th,
td {
  border: none;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 8px;
  padding: 1rem 2rem;
}

input,
select {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

form > button {
  background-color: var(--orange);
  color: var(--black);
  cursor: pointer;
}

form > button:hover {
  background-color: var(--black);
  color: var(--orange);
}

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px 2px var(--orange);
}

.title-cell,
.name-cell,
.author-cell {
  cursor: pointer;
}

p {
  margin: 1rem;
}

.center-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
